@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    background: FAFAF9;
    font-family: 'Sora', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 1.5rem;
    
}

h1 {
    font-size: 18px;
}


img {
    width: 336px;
    height: auto;
    border-radius: 15px;
}


.container {
    min-width: 1200px;
    display: flex;
    justify-content: center;
}

/* Card Container */

.card-container {
    background-color: white;
    width: 368px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 15px 30px 90px 0px rgba(17, 23, 41, 0.122);
    border-radius: 15px;
    padding: 16px;
    margin-top: 164px;
}

.img-container {
    height: 150px;
}

.card-feature-type {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #883AE1;
    font-size: 10px;
    text-align: center;
    font-weight: 800;
    height: 22px;
    width: 65px;
    background-color: #E6D6FC;
    border-radius: 15px;
    margin-top: 16px;
}

.title {
    width: 100%;
    color: #20293A;
    margin: 16px auto 6px;
}

.info {
    border-bottom: .5px solid #6c727f41;
    margin-bottom: 20px;
}

.info p {
    width: 90%;
    color: #6c727fc7;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.name {
    color: #6c727fc7;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 4px;
}


/* RESPONSIVE */

@media screen and (min-width: 720px) {
    .logo {
        display: initial;
    }

    .get-started {
        width: auto;
    }

    main {
        flex-direction: row;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

  }